doctype html 
html        
    head    
        title ABout us 
        body    
            h1 About us 
            h2 #{username}
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dignissimos voluptate ratione quos. Suscipit doloremque, repellat et harum quasi enim tenetur maxime accusamus veritatis asperiores eum porro ratione dolorum minima!