<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1>welcome to contacr</h1>
    <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae minima consequuntur, earum corporis magnam similique quidem placeat doloribus vel maiores dicta magni culpa exercitationem. Necessitatibus, in? Dolorum libero quo possimus?</h2>
    <textarea name="" id="" cols="30" rows="10">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam exercitationem accusantium, mollitia necessitatibus excepturi natus iusto distinctio esse quia, rerum ipsa doloremque aliquid voluptas modi veritatis sed adipisci nulla magnam?</textarea>
</body>
</html>